body, h1{
    font-family: "Raleway", sans-serif;
}

body, html{
    height: 100%;
}

.bgimg{
    background-image: url('/img/mountain-background.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.bottom-line{
  margin:auto;
  width:40%;
}

a{
    text-decoration: none;
}